@model TextChat.ViewModels.ChatRoomViewModel
<div class="chatroom--container">
    <div class="chatroom--row">
        <h1 class="chatroom--title">Chat-room - "room name"</h1>
    </div>
    <input type="text" hidden="hidden" value="@Model.Username" id="userInput"/>
    <hr/>
    <div class="chatroom--row">
        <div class="col-6 chatroom--messages--container">
            <ul id="messagesList"></ul>
        </div>
    </div>
    <div class="chatroom--row">
        <div class="col-6 chatroom--input">
            <input type="text" id="messageInput"/>
            <input type="button" id="sendButton" value="Send"/>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>